.popup__input {
  padding: 0 0 0 5px;
  height: 40px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 40px;
  margin: 0 0 5px;
}

.popup__input:invalid {
}
