.profile__edit-btn {
  width: max(18px, min(18px + calc((100vw - 320px) / 56), 24px));
  height: max(18px, min(18px + calc((100vw - 320px) / 56), 24px));
  margin-bottom: max(13px, min(13px + calc((768px - 100vw) / 74.7), 19px));
  background-image: url(../../../images/edit_btn.svg);
}
