.profile__name {
  font-weight: 500;
  font-size: max(27px, min(27px + calc((100vw - 320px) / 29.87), 42px));
  line-height: 56px;
  margin: 0 17px 0 0;
  padding: 0;
  max-width: max(359px, min((359px + calc(100vw - 768px) / 1), 473px));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 767px) {
  .profile__name {
    max-width: max(241px, min((241px + calc(100vw - 320px) / 1), 688px));
  }
}
