.button__edit-avatar {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  width: 120px;
  height: 120px;
  border: none;
  cursor: pointer;
}

.button__edit-avatar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../../../images/pen.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px;
  opacity: 0;
  transition: all 0.8s ease;
}

.button__edit-avatar:hover:after {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .button__edit-avatar {
    margin-bottom: 10px;
  }
}