.profile__block-name {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}

@media only screen and (max-width: 767px) {
  .profile__block-name {
    margin: 0 auto;
    margin-bottom: 14px;
  }
}
