.popup__container {
  max-width: min(70vw, 430px);
  background-color: #fff;
  margin: 0;
  padding: 36px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .popup__container {
    padding: 30px 20px;
  }
}
