@import url(./_form/popup__container_form.css);
@import url(./_zoom/popup__container_zoom.css);

.popup__container {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: min(20px, 4vw);
  transition: all 0.8s ease-in-out;
  opacity: 0;
  transform: perspective(300px) translate(0px, -300%) rotateX(45deg);
}
