.popup__close-btn {
  position: absolute;
  width: 33px;
  height: 33px;
  padding: 0;
  margin: 0;
  border: none;
  top: -33px;
  right: -33px;
  background-image: url(../../../images/close_btn.svg);
}

@media only screen and (max-width: 768px) {
  .popup__close-btn {
    width: 30px;
    height: 30px;
    top: -30px;
    right: -30px;
  }
}
